<!DOCTYPE html>
<html lang="en">

<head>
    <title>DANH SÁCH NGƯỜI DÙNG</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container my-3">
        <h4 class="my-5 text-primary text-center text-uppercase">Danh sách người dùng</h4>
        <a class="btn btn-success btn-sm my-4" href="/add">Thêm người dùng</a>
        <p>Chọn một người dùng để xem chi tiết</p>
        <table class="table table-striped border" id="tableId">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Họ và tên</th>
                    <th>Giới tính</th>
                    <th>Tuổi</th>
                    <th>Email</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach((user, index)=> { %>
                    <tr id="<%= user.id %>">
                        <td>
                            <%= (index+1) %>
                        </td>
                        <td><a href="/profile/<%= user.id %>">
                                <%= user.fullName %>
                            </a></td>
                        <td>
                            <%= user.gender %>
                        </td>
                        <td>
                            <%= user.age %>
                        </td>
                        <td>
                            <%= user.email %>
                        </td>
                        <td>
                            <button data-id="<%= user.id %>" data-name="<%= user.fullName %>"
                                data-gender="<%= user.gender %>" data-age="<%= user.age %>"
                                data-email="<%= user.email %>" class="btn btn-sm btn-outline-primary btn-edit">Chỉnh
                                sửa</button>
                            <button data-id="<%= user.id %>" data-name="<%= user.fullName %>"
                                class="btn btn-sm btn-outline-danger btn-delete">Xóa</button>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <p>Tổng số người dùng: <strong class="text-danger" id="sum-users">
                <%= users.length %>
            </strong></p>
    </div>

    <div style="display: none;" id="flash-alert" class="alert alert-success text-center w-25 mx-auto my-3">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span id="action-alert"></span>
    </div>

    
    <% if( message != 'Đọc dữ liệu người dùng thành công' ) { %>
        <div id="flash-alert" class="alert alert-success text-center w-25 mx-auto my-3">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span><%= message %></span>
        </div>
    <% } %>
    


    <!-- Confirm delete -->
    <div id="confirm-delete-dialog" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Xóa người dùng</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Bạn có chắc rằng muốn xóa <strong id="delete-username"></strong>?
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button data-id="?" data-name="?" id="btn-delete-confirmed" type="button"
                        class="btn btn-danger">Xóa</button>
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Đóng</button>
                </div>

            </div>
        </div>
    </div>
    <!-- End Confirm delete -->


    <!-- Update user -->
    <div id="confirm-edit-dialog" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Cập nhật thông tin người dùng</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <div class="form-group">
                        <label for="user">Họ tên</label>
                        <input value="Hồ Hữu An" class="form-control" type="text" placeholder="Nhập tên người dùng"
                            id="edit-username" name="name">
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="gender-male" name="gender">
                            <label class="custom-control-label" for="gender-male">Nam</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="gender-female" name="gender">
                            <label class="custom-control-label" for="gender-female">Nữ</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="age">Tuổi</label>
                        <input input="20" maxlength="3" class="form-control" type="number" placeholder="Nhập tuổi"
                            min="18" max="100" id="edit-age" name="age">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input value="" class="form-control" type="text" placeholder="Nhập email" id="edit-email"
                            name="email">
                    </div>
                    <div class="alert alert-danger edit-null" style="display: none;">
                        Vui lòng nhập đầy đủ thông tin
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button data-id="?" id="btn-edit-confirmed" type="button" class="btn btn-primary">Cập nhật</button>
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Đóng</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Update user -->


    <script>
        setTimeout(() => {
            $('#flash-alert').fadeOut(2000)
        }, 1000);
        $('.btn-delete').click(event => {
            const btn = event.target
            const id = btn.dataset.id
            const name = btn.dataset.name

            $('#delete-username').html(name)
            $('#btn-delete-confirmed').attr('data-id', id)
            $('#btn-delete-confirmed').attr('data-name', name)
            $('#confirm-delete-dialog').modal('show')
        })
        $('#btn-delete-confirmed').click(event => {
            $('#confirm-delete-dialog').modal('hide')
            const btn = event.target
            const id = btn.dataset.id
            const name = btn.dataset.name

            fetch('http://localhost:8080/delete/' + id, {
                method: 'POST'
            })
                .then(res => res.json())
                .then(json => {
                    if (json.code === 0) {
                        console.log("Delete Successfully");
                        $(`tr#${id}`).remove();
                        $('#action-alert').html(`Đã xóa người dùng <strong>${name}</strong>`),
                        $('#flash-alert').attr('style', 'display: block');
                        setTimeout(() => {
                            $('#flash-alert').fadeOut(2000)
                        }, 1000);
                        updateTableRowNumbers()
                    } else {
                        console.log(json.message);
                    }
                })
                .catch(console.log)
        })

        $('.btn-edit').click(event => {
            const btn = event.target
            const id = btn.dataset.id
            const name = btn.dataset.name
            const age = btn.dataset.age
            const gender = btn.dataset.gender
            const email = btn.dataset.email

            $('#edit-username').val(name);
            $('#edit-age').val(age);
            $('#edit-email').val(email);
            (gender === 'male') ? $('#gender-male').prop('checked', true) : $('#gender-female').prop('checked', true);

            $('#btn-edit-confirmed').attr('data-id', id)
            $('#confirm-edit-dialog').modal('show')
        })
        $('#btn-edit-confirmed').click(event => {
            console.log("hello")
            const btn = event.target
            const id = btn.dataset.id
            const name = $('#edit-username').val();
            const age = $('#edit-age').val();
            const gender = ($('#gender-male').val() === 'on') ? "male" : (($('#gender-female').val() === 'on') ? "female" : "")
            const email = $('#edit-email').val();
            console.log(gender)
            if (name === "" || age === "" || gender === "" || email === "") {
                $('.edit-null').attr('style', 'display: block')
            } else {
                fetch('http://localhost:8080/edit/' + id, {
                    method: 'POST',
                    body: JSON.stringify({ fullName: name, gender: gender, age: age, email: email })
                })
                    .then(res => res.json())
                    .then(json => {
                        if (json.code === 0) {
                            console.log("Update Successfully");
                            $('#action-alert').html(`Đã cập nhật người dùng <strong>${name}</strong>`),
                            $('#flash-alert').attr('style', 'display: block');
                            $('#confirm-edit-dialog').modal('hide')
                            setTimeout(() => {
                            $('#flash-alert').fadeOut(2000)
                        }, 1000);
                        } else {
                            console.log(json.message);
                        }
                    })
                    .catch(console.log)
            }

        })

        function updateTableRowNumbers() {
            $('#tableId tbody tr').each(function (index) {
                $(this).find('td:first').text(index + 1);
            });
            $('#sum-users').text($('#tableId tbody tr').length)
        }
    </script>

</body>

</html>